body {
    background-color: rgba(0,50,0,0.2);
}

p#id1 {
     font-weight: bolder;
}

#son::after {
    content: "Copyright©2023 My Portfolio";
    color: black;

}

#son {
    position: absolute;
    top: 97%;
    left: calc(50% - 101px);
}