body {
    background-color: rgba(0,50,0,0.2);
}

a.slm {
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
    border-width : 3px 10px;
    border-color: whitesmoke;
}


img {
    position: absolute;
    left: 8px;
    top: 750px;
}

#fotometa {
    position : absolute;
    left: 210px;
    top: 820px;
}

a#son {
    position: absolute;
    left: 73px;
    top: 995px;
}

textarea {
    min-width: 500px;
    min-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    margin:0 auto 0 auto;
    text-align:center;
}

p.copyright {
    text-align:center;
}