body {
    background-color: rgba(0,50,0,0.2);
}

a.slm {
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
    border-width : 3px 10px;
    border-color: whitesmoke;
}

a#sonyazi {
    position: absolute;
    left: 1%;
    top: 90%;
}

textarea {
    min-width: 300px;
    min-height: 200px;
}

.button1 {
    position: absolute;
    text-align:left;
}

div#son::after {
    content:"Copyright©2023 My Portfolio";
    color: black;
                                                    }
#son {
    text-align: center;
}